MYSQL_DATABASE=utbk_preparation
MYSQL_USER=utbk
MYSQL_PASSWORD=utbk_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
SESSION_SECRET=change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
